#message-index {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#message-list {
    background-color: #36393f;
    display: flex;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

#message-list::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

#message-list::-webkit-scrollbar-corner {
    background-color: transparent;
}

#message-list::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

#message-list::-webkit-scrollbar-track-piece {
    background-color: #2f3136;
    border: 3px solid #36393f;
    border-radius: 7px;
}

#message-list::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: #36393f;
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-radius: 7px;
}

#message-form {
    display: flex;
    position: relative;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid hsla(0, 0%, 100%, .06);
}

#message-form-inner {
    background-color: rgba(114, 118, 125, .3);
    border-radius: 5px;
    position: relative;
    display: flex;
    height: 44px;
    width: 100%;
}

#send-message-input {
    border: none;
    background: transparent;
    color: hsla(0, 0%, 100%, .7);
    flex: 1;
    padding: 10px 12px;
    margin: 2px 2px 2px 0;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: -0.025rem;
    min-height: 20px;
}

#send-message-input:focus {
    outline: none;
}

.message-item {
    box-sizing: border-box;
    word-wrap: break-word;
    user-select: text;
}

.message-item-padded {
    padding-top: 20px;
}

hr.message-break {
    border: none;
    border-bottom: 1px solid transparent;
    border-bottom-color: hsla(0, 0%, 100%, .04);
    margin: 16px 20px 0;
}

.message-author-icon {
    margin: -2px 20px 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 28px;
        height: 20px;
    }
}

.message-header {
    display: flex;
    align-items: flex-start;
    align-content: normal;
    height: 1.3em;
}

.message-author {
    color: hsla(0, 0%, 100%, .2);
    span {
        color: white;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0;
    }
    time {
        color: hsla(0, 0%, 100%, .2);
        font-size: .75rem;
        letter-spacing: 0;
        font-weight: 400;
        margin-left: .3rem;
    }
}

.message-body {
    margin-left: 80px;
    padding-right: 10px;
    color: #dcddde;
    font-size: 0.9rem;
    line-height: 1.3;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    display: flex;
    padding-bottom: 3px;
}

#message-spacer {
    flex: 1;
}