#guild-detail-view {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
}

#guild-panel {
    background-color: #2f3136;
    width: 240px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

#guild-header {
    position: relative;
    color: white;
    font-weight: 500;
    padding: 0 16px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: background-color .15s ease;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
    span {
        flex: 1;
    }
    * {
        pointer-events: none;
    }
}

#guild-header:hover {
    background-color: #2A2C32;
    transition: background-color .15s ease;
}

#guild-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 auto;
    position: relative;
    background-color: #2f3136;
}

#user-bar {
    background: rgba(32, 34, 37, .3);
    display: flex;
    flex-shrink: 0;
    height: 52px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 1px;
    i {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: red;
    }
}

.user-status-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 22.4px;
        height: 16px;
    }
}

#user-bar-nametag {
    flex-grow: 1;
    margin-right: 4px;
}

#user-bar-name {
    color: #b9bbb3;
    font-size: 13px;
    line-height: 18px
}

#user-bar-tag {
    color: #8e9297;
    font-size: 10px;
    line-height: 12px;
}

#server-actions-icon {
    transition: transform .5s ease;
}

#guild-header-dropdown {
    background-color: #2B2E32;
    position: absolute;
    left: 0;
    top: 48px;
    width: 224px;
    margin: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, .82), 0 1px 4px rgba(0, 0, 0, .1);
    z-index: 1;
    border-radius: 5px;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
    transition: transform .2s ease;
     :first-child {
        border-radius: 5px 5px 0 0;
    }
     :last-child {
        border-radius: 0 0 5px 5px;
    }
}

#guild-header-dropdown.visible {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform .2s ease;
}

.guild-dropdown-option {
    color: hsla(0, 0%, 100%, .6);
    box-sizing: border-box;
    display: flex;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    img {
        width: 18px;
        height: 18px;
        opacity: .8;
        flex-shrink: 0;
        margin-right: 14px;
    }
    * {
        pointer-events: none;
    }
}

.guild-dropdown-option:hover {
    background-color: #202326;
    color: white;
}

#guild-invite-item {
    color: #7289da;
}